<!DOCTYPE html>
<html>

<meta charset="utf-8">
<link rel="stylesheet" href="styles/normalize.css">
<link rel="stylesheet" href="styles/main.css">

<head>
<title="{placerickandmortys}">
</head>

<body>

  <div class="content-wrapper">

  		<div class="main-content">

  			<div class="mortys-content">

  				<header class="header">
  					<h1>placerickandmortys</h1>
  				</header>

  				<p class="description"><strong>A quick and simple service for getting pictures of ricks and mortys for use as placeholders in your designs or code.</strong> Just put your image size (width &amp; height) after our URL and you'll get a&nbsp;placeholder.</p>

  				<p class="links">
  					Like this: <a href="/200/300">http://placerickandmortys.com/200/300</a><br>
  					or: <a href="/g/200/300">http://placerickandmortys.com/g/200/300</a>
  				</p>

  				<img class="image-0" src="/rick.jpg" alt="Rick" width="408">

  			</div>

  			<div class="more-ricks-and-mortys">
  				<img class="image-1" src="/morty.jpg" alt="morty" width="100">
  				<img class="image-2" src="/rick.jpg" alt="rick" width="200">
  				<img class="image-3" src="/morty.jpg" alt="morty" width="200">
  				<img class="image-4" src="/rick.jpg" alt="rick" width="200">
  				<img class="image-5" src="/morty.jpg" alt="morty" width="96">
  				<img class="image-6" src="/rick.jpg" alt="rick" width="96">
  				<img class="image-7" src="/morty.jpg" alt="morty" width="200">
  			</div>

  		</div><!-- main-content -->

  		<footer class="footer">
  			<p>Delivered by Matt Carroll &amp; the people who make Rick and Morty I guess. WUB-A-LUB-A-DUB-DUB</p>
  		</footer><!-- /#footer -->

  	</div><!-- /#container -->

</body>

</html>
