<!DOCTYPE html>
<html>

<meta charset="utf-8">
<link rel="stylesheet" href="styles/normalize.css">
<link rel="stylesheet" href="styles/main.css">

<head>
<title="{placerickandmortys}">
</head>

<body>

  <div class="content-wrapper">

  		<div class="main-content">

  			<div id="mortys-content" class="unit">

  				<header class="header">
  					<h1>placerickandmortys</h1>
  				</header>

  				<p class="description"><strong>A quick and simple service for getting pictures of ricks and mortys for use as placeholders in your designs or code.</strong> Just put your image size (width &amp; height) after our URL and you'll get a&nbsp;placeholder.</p>

  				<p class="links">
  					Like this: <a href="placeholder/">http://placerickandmortys.com/placeholder/</a><br>
  					or: <a href="/placeholder/200/300">http://placerickandmortys.com/placeholder/200/300</a>
  				</p>

  				<img class="image-0" src="/image-00.png" alt="Rick" width="408" height="316">

  			</div>

  			<div id="more-ricks-and-mortys" class="unit">
  				<img class="image-1" src="/image-01.png" alt="morty" width="200" height="287">
  				<img class="image-2" src="/image-02.png" alt="rick" width="200" height="140">
  				<img class="image-3" src="/image-03.png" alt="morty" width="200" height="139">
  				<img class="image-4" src="/image-04.png" alt="rick" width="200" height="286">
          <img class="image-5" src="/image-05.png" alt="morty" width="96" height="140">
          <img class="image-6" src="/image-06.png" alt="rick" width="96" height="139">
  				<img class="image-7" src="/image-07.png" alt="morty" width="200" height="138">

  			</div>

  		</div><!-- main-content -->

  		<footer class="footer">
  			<p>Delivered by Matt Carroll &amp; the people who make Rick and Morty I guess. WUB-A-LUB-A-DUB-DUB</p>
  		</footer><!-- /#footer -->

  	</div><!-- /#container -->

</body>

</html>
